# Example/demo folders
app-example/
example/
tests/
docs/

# Editor & OS files
.vscode/
.cursor/
.DS_Store
.idea/

# Node caches
node_modules/.cache/
npm-debug.log
yarn-error.log

# Expo caches
.expo/
.expo-shared/
